* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button {
  cursor: pointer;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

.modal {
  background-color: #fff;
  border-radius: 6px;
  padding: 24px;
  max-width: 640px;
  width: 100%;
  min-height: 200px;

  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
}

.modal__title {
  margin-bottom: 12px;
}

.modal__text {
  margin-bottom: 24px;
}

.show_modal {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.show_modal .modal {
  transform: scale(1);
}
